
   h1 {
  animation-duration: 1s;
  animation-name: slidein;
  text-align: center;
}

   
p {
  font-size: 30px;
  text-align: center;
}

 li {
  font-size: 50px;
  line-height: 50px;
  }
  
 @keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  } 

}
